/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
img {
  display: block;
  max-width: 100%;
}

/* Общие стили */
a {
  text-decoration: none;
  color: var(--primary-text-color);
}

a:hover {
  color: var(--accent-color);
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #2f303a;
  --h1-text-color: #ffffff;
  --sixth-text-color: #ececec;
  --section-comand-text-color: #f5f4fa;
  --logo-text-color: #000000;
  --h1andadres-text-color: #ffffff;
}
/* цвет основного текста #757575 */

/* вторичный цвет текста #212121 */

/* белый цвет #FFFFFF */

/* акцент #2196F3 */

/* цвет героя #2F303A */

/* фон секции уоманда #f5f4fa */

body {
  color: #757575;
  background-color: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.section-title,
.comand-title,
.skils-title,
.img-title,
.pic-title,
.clients-title {
  color: var(--title-text-color);
}

button {
  cursor: pointer;
  border-color: transparent;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

/* шапка сайта */

.header-nav {
  display: flex;
  margin-left: 0;
}
.head .container {
  display: flex;
  justify-content: space-between;
}
.head .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--logo-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-color {
  color: var(--accent-color);
}

/* навигация сайта */

.site-nav {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;

  padding-top: 32px;

  align-items: baseline;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.nav-studio {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  margin-left: 93px;
  margin-right: 50px;
}

.nav-portfolio {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  margin-right: 50px;
}

.nav-contakt {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  margin-right: auto;
}

.header-contacts {
  font-weight: 500;

  padding-top: 32px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.link-gmail {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.link-phone {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* Герой */

.section-hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--h1-text-color);
}

.hero-button {
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--h1-text-color);
  border-radius: 4px;
  min-width: 200px;
  text-align: center;

  padding: 10px 32px;
  margin-top: 30px;

  display: inline-block;
}

.hero-button:hover {
  background-color: #188ce8;
}

/* Достоинства */

.slogan-list {
  display: flex;
}

.slogan {
  margin-right: 30px;
}
.slogan:not(:last-child) {
  margin-right: 30px;
}
.slogan-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.slogan-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/* Чем мы занимаемся */
.section-skils {
  padding-top: 0;
}

.skils-title {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  display: flex;
  justify-content: center;
}

.skils-list {
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
}

/* Наша команда */

.section-comand {
  background-color: var(--section-comand-text-color);
}

.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.comand-list {
  margin-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}

.comand-item {
  width: 270px;
  height: 368px;

  margin-right: 30px;

  text-align: center;

  background-color: var(--h1-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-item:not(:last-child) {
  margin-right: 30px;
}

.comand-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: var(--title-text-color);
  letter-spacing: 0.03em;

  padding-top: 30px;
}

.comand-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  padding-top: 10px;
}

/* Постоянные Клиенты */

.section-clients {
  padding-top: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
}

.clients-list {
  margin-top: 50px;
  width: 1170px;
  height: 134px;
  background-color: tomato;
}

/* Футер */

.footer {
  background-color: var(--hero-color);
  padding: 60px;
}

.footer .logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 20px;

  color: var(--h1-text-color);

  display: inline-block;
}

.footer .logo:hover {
  color: var(--accent-color);
}

.footer-list {
  min-width: 231px;
  min-height: 81px;
  display: block;

  font-style: normal;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--h1-text-color);
}

.footer-gmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 9px;
  margin-bottom: 9px;

  color: var(--h1andadres-text-color);
}

.footer-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--h1andadres-text-color);
}

/* Portfolio */

/* секция кнопок */

.head-partfolio {
  border-bottom: 1px solid#ECECEC;
}

.portfolio-button-list {
  padding-top: 94px;
  display: flex;
  justify-content: center;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;

  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.btn {
  margin-right: 8px;
}
.btn:not(last-child) {
  margin-right: 8px;
}

/* Основной контент */

.vusually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 90px;
}

.portfolio-button-list {
  padding: 0;
}

.portfolio-list {
  margin-top: 50px;
  margin-right: -30px;
  margin-bottom: -30px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pic-item {
  background: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.pic-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  padding: 20px 0 0 24px;
}

.pic-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;

  margin: 0;
  padding: 4px 24px 20px;
}

.cart {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  justify-content: flex-start;
}
